:root{
    --font-family-opensans: 'Open Sans', sans-serif;
    --font-family-releway: 'Raleway', sans-serif;
    --font-family-roboto: 'Roboto', sans-serif;
    --font-family-mashan: 'Ma Shan Zheng', cursive;
}
:root{
    --blue: #36aeea;
    --blue-rgb: 54, 174, 234; 

    --silver: #0083b3;
    --silver-rgb: 157, 174, 182;
    
    --black: #000;
    --black-rgb: 0, 0, 0;

    --white: #fff;
    --white-rgb: 255, 255, 255;

    --black-blue: #0083b3;
    --black-blue-rgb: 0, 131, 179;
}